<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.metamom.bbssample" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 저장소에 접근할 수 있게 하는 설정 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 저장소에 접근할 수 있게 하는 설정 -->
    <uses-permission android:name="android.permission.CAMERA"/> <!-- #21# for 구글 인앱 결제 -->
    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_metamom"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BbsSample"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".LogoutActivity"
            android:exported="true" />

        <activity
                android:name=".KcalBMI.BmiMain"
                android:exported="true"/>
        <activity
                android:name=".subscribe.SubAPIPurchaseActivity"
                android:exported="true"/>
        <activity
                android:name=".SearchPwd"
                android:exported="true"/>

        <meta-data
                android:name="com.google.android.actions"
                android:resource="@xml/text_cursor"/>

        <activity
                android:name=".sns.SnsUpdateActivity"
                android:exported="true"
                android:parentActivityName=".sns.SnsActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".sns.CommentActivity"
                android:exported="true"
                android:parentActivityName=".sns.SnsActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".SearchId"
                android:exported="true"/>
        <activity
                android:name=".KcalBMI.KcalMain"
                android:exported="true"/>
        <activity
                android:name=".MemberUpdateActivity"
                android:exported="true"/>
        <activity
                android:name=".subscribe.SubPurchaseActivity"
                android:exported="true"/>
        <activity
                android:name=".subscribe.SubTodayMealsSnack"
                android:exported="true"/>
        <activity
                android:name=".subscribe.SubTodayMealsDinner"
                android:exported="true"/>
        <activity
                android:name=".subscribe.SubTodayMealsLunch"
                android:exported="true"/>
        <activity
                android:name=".subscribe.SubTodayMealsMorning"
                android:exported="true"/>
        <!--
<activity
                android:name=".subscribe.SubMyMealsActivity"
                android:exported="true"/>
        -->
        <activity
            android:name=".sns.SnsInsertActivity"
            android:exported="true" />
        <activity
            android:name=".FoodListMeals.FoodListMealsUpdate"
            android:exported="true" />
        <activity
            android:name=".FoodListMeals.FoodListDetail"
            android:exported="true" />
        <activity
            android:name=".subscribe.SubInfoActivity"
            android:exported="true" />
        <activity
            android:name=".subscribe.SubAddActivity"
            android:exported="true" />
        <activity
            android:name=".InsertActivity"
            android:exported="true" />
        <activity
            android:name=".sns.SnsActivity"
            android:exported="true" /> <!-- 저장소에 접근할 수 있게 하는 설정 -->
        <activity
            android:name=".MainButtonActivity"
            android:exported="true" /> <!-- 저장소에 접근할 수 있게 하는 설정 -->
        <activity
            android:name=".FoodListMeals.AddFoodList"
            android:exported="true" />
        <activity
            android:name=".FoodListMeals.FoodListMeals"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
                android:name=".recipe2.DetailRecipe"
                android:exported="true"/>
        <activity
                android:name=".recipe2.RecipeMainActivity"
                android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BbsSample.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_native_key" />
            </intent-filter>
        </activity>
    </application>

</manifest>